<mat-toolbar class="custom-toolbar">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="hover-icon">lists</mat-icon>
    </a>
    <span class="text">openResearch</span>
    <span class="example-spacer"></span>
    <div class="icon-container">
        <div class="icon-wrapper">
           <a routerLink="/login" mat-icon-button>
               <mat-icon class="hover-icon">login</mat-icon>
               <span class="hover-text">Login</span>
            </a>
        </div>
        <div class="icon-wrapper">
           <a routerLink="/signup" mat-icon-button >
               <mat-icon class="hover-icon">how_to_reg</mat-icon>
               <span class="hover-text">Signup</span>
            </a>
        </div>
    </div>
  </mat-toolbar>
  